@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.container {
    width: 90vw;
    display: flex;
}

.panel {
    position: relative;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    transition: flex 0.7s ease-in;
    margin: 10px;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    opacity: 0;
    margin: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: visibility 0.3s ease-in 0.4s;
}

/* media screen */
@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-child(4),
    .panel:nth-child(5) {
        display: none;
    }
}