@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.container {
    width: 90vw;
    display: flex;
}

.container-image {
    position: relative;
    height: 90vh;
    width: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    flex: 0.5;
    transition: flex 0.7s ease-in;
}

.container-image h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 2rem;
    visibility: hidden;
    margin: 0;
}
.container-image.active{
    flex: 5;
}
.container-image.active h3{
    visibility: visible;
    transition: visibility 0.3s ease-in 0.4s;
}

/* media screen */
@media (max-width: 500px) {
    .container{
        width: 100vw;
        justify-content: center;
    }
   
    .container-image:nth-child(4),
    .container-image:nth-child(5){
        display: none;
    }

.container-image h3 {
    font-size: 1.3rem;
}
}