@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rbuntu, sans-serif;
    overflow: hidden;
}

.bg{
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px) ;
    background: url('welding_man.jpg') no-repeat center center/cover;
    z-index:-1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: white;
}


