@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --light: #fff;
    --body-color: #5f5fdd;
    --button-color: #9f16df;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    background-color: var(--body-color);
}

.container {
    width: 800px;
    max-width: 100%;
    text-align: center;
    padding: 50px 20px;
    background-color: var(--light);
    border-radius: 10px;
}

h3 {
    margin: 0;
    letter-spacing: 2px;
    opacity: 0.5;
}

.joke {
    max-width: 600px;
    font-size: 30px;
    margin: 50px auto;
    letter-spacing: 1px;
    line-height: 40px;
    text-align: justify;
}

.btn {
    font-size: 16px;
    padding: 14px 40px;
    border: 0;
    text-transform: capitalize;
    background-color: var(--button-color);
    border-radius: 10px;
    color: var(--light);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}