@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    background-color: #b9c0c57a;
}

#container {
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.keys {
    display: flex;
    justify-content: space-between;
}

.key {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #ecf5f5;
    border: 1px solid #bcbcbefd;
    border-radius: 5PX;
}

.keys .key {
    width: 100%;
}

.key small {
    position: absolute;
    text-transform: capitalize;
    top: -60%;
}